body p{
	font-family: 'Roboto', sans-serif;
}
strong {
	font-family: 'Roboto', sans-serif;
}
.box-text-bottom {
    border: 1px solid #e1982a!important;   
}
.about-staff{
	border: 1px solid gray;
}
.medium-5 {
	padding:0!important;
}
.col-inner h4 {
	color:#FF9C08;
	font-size: 16px;
}
.col-inner p {
	margin-bottom: 5px;
	color:black;
	font-size: 14px;
}
.nav-top-link:hover {
	color:#FF9C08!important;
	font-weight: bold;
}
.active {
	color:#FF9C08!important;
}
.nav>li>a, .nav-dropdown>li>a, .nav-column>li>a {
    color: black!important;
}
.nav>li>a:hover, .nav>li.active>a, .nav>li.current>a, .nav>li>a.active, .nav>li>a.current, .nav-dropdown li.active>a, .nav-column li.active>a, .nav-dropdown>li>a:hover, .nav-column li>a:hover {
    color: #FF9C08!important;
}
.project{
	font-size: 20px!important;
}
.scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
    background-color: #dd8b0f!important;
}
.nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
    border-color: #dd8b0f!important;
}
.is-divider {
	height: 1px!important;
    background-color: #dd8b0f!important;
    max-width: 100%!important;
}
.widget-title span {
	font-size: 1em!important;
	color:black!important;
	font-family: 'Roboto'!important;
}

